.page-cover-img{
	margin:0;
	width: 100%;
	min-height: 250px;
	background-size: cover;
	background-image: url(../img/header_1280.jpg);
}
.page-logo-img-container{
	width: 150px;
	position: relative;
}
.page-logo-img{
	z-index: 99;
	background-image: url(../img/huskyavt.png);
	width: 150px;
	height: 150px;
	position: absolute;
	background-size: cover;	
	border:4px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;	
}
	#home-menu-logo-img{
		left: 0;
		top: -200%;
	}
	#home-menu-logo-img-container{
		display: block;	
	}
	#navbar-brand-logo-img-container{
		display: none;
	}
#page-header-menu{
	width: 100%;
	padding: 1rem 0;
}
#page-header-menu li{
	padding: .3rem 1.5rem;
}
#page-header-menu li a{
	position: relative;
	padding: 0px 0px 5px 0px;
	font-weight: bold;
}
#page-header-menu li > a::before{
content: '';
width: 100%;
height: 2px;
background: rgba(0,0,0,0.5);
position: absolute;
bottom: 0;
left: 0;
visibility: hidden;
}

#page-header-menu li:hover a::before,.link-visiting{
	visibility: visible;
}
#page-slogan{
	height: 5rem;
	display: flex;
	align-items: center;
}
#page-slogan span{
	position: relative;
	padding: 1rem;
}
#page-slogan span::before{
	content: '';
	width: 5rem;
	position: absolute;
	height: 3px;
	background: black;
	z-index: 9;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}
@media only screen and (max-width: 575px){
	#home-menu-logo-img-container{
		display: none;
	}
	#navbar-brand-logo-img-container{
		display: block;
	}
		#navbar-brand-logo-img{
			width: 100px;
			height: 100px;
		    top: -75px;
    		right: 0;
		}
	#navbar-coantainer{
		padding-left: 3rem;
	}
}