html,body{
	width: 100%;
	height: 100%;
}
#page-container{
	max-width: 1366px;
	margin: 0 auto;
}
.post-overview-container{
	padding: 1rem 0px;
}
.overview-post-link{
	border-bottom:dashed 2px rgba(0,0,0,0.2);
}
article.overview-post{
	padding-left: 1rem;
	margin: 1rem auto;
}
.overview-infor{
	padding-left: 1rem;
	margin-bottom: 0.5rem;
}
.overview-infor-item{
	display: inline-block;
	min-width: 3rem;
	margin-right: 0.5rem;
	padding-right: 0.5rem;
}
.post-icon{
	display: inline-block;
	background-size: cover;
	width: 18px;
	height: 16px;
}
	.post-like-icon{
		background-image: url(../img/icon/like-48dp.png);
	}
	.post-comment-icon{
		background-image: url(../img/icon/comment-48dp.png);
	}
/*Sidebar Item*/
.newest-post-board ul{
	max-height: 300px;
	overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}